<h1 mat-dialog-title>You are now playing game of drones</h1>
<div mat-dialog-content id="container">
    <div class="initialSetUp">
        <p>Please tell us the name of the people playing</p>
        <div class = "playersNameWrapper">
            <mat-form-field>
                <mat-label>
                    <mat-icon class="material-icons">
                        videogame_asset
                    </mat-icon>
                    Player 1
                </mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    <mat-icon class="material-icons">
                        videogame_asset
                    </mat-icon>
                    Player 2
                </mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onAbortClick()">AbortGame</button>
    <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
</div>


